body{
	/*background: url('panoramic_boston.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.custom-font-1 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
	font-weight: 650;
	font-size: 70px;
}

.custom-font-2 {
	color: white;
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
	font-weight: 100;
	font-size: 40px;
	line-height: 50px;
}

.box{
	box-shadow: 2px -2px 2px 2px rgba(36, 32, 33, 0.5);
	background-color: rgba(36, 32, 33, 0.5);
	padding: 1%;
	margin-top: 25px;
	margin-left: 25px;
	width: 300px;
}
.my-wrapper,
.my-wrapper h1,
.my-wrapper h2, 
.my-wrapper h3, 
.my-wrapper p {
	color:white;
}